# macOS
.DS_Store

# Python
__pycache__/
tests/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.mypy_cache/

# Environments
.env
.envrc
.conda-lock/

# Databases and cache
*.db
*.sqlite

# Output and temp files
output/
*.log
*.bak

# IDEs and notebooks
.vscode/